[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ env }}.chatgpt1.info:8080
Environment=DB_HOST=mysql-{{ env }}.chatgpt1.info
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
